.club #refreshContainer {
  padding-top: 0px;
}
.club .twt_list {
  display: flex;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-padding-start: 0;
  background-color: #fff;
  flex-direction: column;
  margin-top: 40px;
}
.club .twt_list .twt_item {
  display: flex;
  padding-top: .5em;
  padding-bottom: .5em;
  border-top: 1px dashed #ddd;
}
.club .twt_list .twt_item .avatar {
  width: 2.5em;
  margin-right: .5em;
  margin-left: .5em;
}
.club .twt_list .twt_item .avatar img {
  width: 100%;
  height: 2.5em;
  border-radius: .3em;
}
.club .twt_list .twt_item .body {
  flex: 1;
  padding-right: .4em;
}
.club .twt_list .twt_item .body h3 {
  padding-top: 0em;
  line-height: 1.5em;
  font-weight: normal;
  color: #FFAC38;
  font-size: .9em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.club .twt_list .twt_item .body h3 .visibility {
  color: #666;
  font-weight: bold;
  margin-left: .3em;
}
.club .twt_list .twt_item .body p {
  color: #313233;
  word-break: break-all;
  flex-wrap: wrap;
  font-size: 1em;
  line-height: 1.3em;
  letter-spacing: .1em;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}
.club .twt_list .twt_item .body p img {
  display: inline;
}
.club .twt_list .twt_item .body .img_box {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1em;
  margin-top: .3em;
}
.club .twt_list .twt_item .body .img_box .img {
  margin-right: 1.5%;
  align-items: flex-start;
}
.club .twt_list .twt_item .body .img_box .img img {
  max-width: 100%;
}
.club .twt_list .twt_item .body .link_box {
  background-color: #efefef;
  padding: 2px .8em;
  margin-top: .5em;
  margin-bottom: .5em;
}
.club .twt_list .twt_item .body .link_box h4 {
  font-weight: normal;
  font-size: .9em;
}
.club .twt_list .twt_item .body .oprate_box {
  display: flex;
}
.club .twt_list .twt_item .body .oprate_box .create_ts {
  color: #999;
  font-size: .8em;
}
.club .twt_list .twt_item .body .oprate_box .reply {
  margin-left: .5em;
  color: #000;
  font-size: .8em;
}
.club .twt_list .twt_item .body .oprate_box .delete {
  color: #999;
  margin-left: .5em;
  font-size: .8em;
}
.club .twt_list .twt_item .body .comment_box {
  background-color: #efefef;
  padding-left: .5em;
  padding: .4em;
  margin-top: .3em;
}
.club .twt_list .twt_item .body .comment_box .comment {
  font-size: .9em;
  line-height: 1.3em;
  margin-bottom: .4em;
}
.club .twt_list .twt_item .body .comment_box .comment .nick {
  color: #FFAC38;
  margin-right: .3em;
  display: inline;
}
.club .twt_list .twt_item .body .comment_box .comment .nick::after {
  content: ":";
}
.club .twt_list .twt_item .body .comment_box .comment .content {
  display: inline;
  color: #313233;
}
.club #createPopover {
  width: 8em !important;
}
